@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');
*{
    font-family: "Roboto";
    color: white;
    background: rgb(56, 56, 56);
    box-sizing: border-box;
}

body{
    margin: 0;
}

.menu{
    display: flex;
    flex-wrap: row wrap;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
}
.menu h1{
    margin: 0;
    font-family: "Tiny5", sans-serif;
}
.menu ul{
    padding-left: 200px;
    flex: 80%;
}
.menu a{
    text-align: right;
    text-decoration: none;
    color: white;
    font-size: 15px;
    padding: 10px 6px;
    letter-spacing: 1px;
}
.menu li:hover{
    opacity: 0.5;
}
.menu li{
    display: inline-block;
    padding: 10px;
}

.lanc{
    margin-top: 80px;
}
.lanc div{
    margin-left: 20px;
}
.lanc h2{
    padding-left: 4%;
    border-bottom: 5px solid black;
}
.lanc-card{
    display: inline-block;
    padding-left: 15px;
}
.lanc-card:hover img{
    opacity: 0.5;
}
.lanc-card img{
    border-radius: 10px;
}
.lanc-card a{
    text-decoration: none;
}
.lanc-card p{
    text-align: center;
    margin-top: -4px;
}

.eps h2{
    padding-left: 4%;
    border-bottom: 5px solid black;
}
.eps div{
    margin: 20px;
}
.eps-card{
    display: inline-block;
    padding-left: 15px;
}
.eps-card:hover img{
    opacity: 0.5;
}
.eps-card img{
    border-radius: 10px;
}
.eps-card a{
    text-decoration: none;
}
.eps-card p{
    text-align: center;
    margin-top: -4px;
}
